/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    padding: 50px;
    width: 100vw; 
  }

  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    background-color: white;
    color: black;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
   


  button {
    padding:10px;
    background-color: #2F3E46;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border:none;
    letter-spacing: 2px;
}

  /* Navigation + Intro Paragraph */

  .introP {
      padding-bottom: 20px;
  }

  nav {
      padding-bottom: 20px;
      color: #354F52;
      font-weight: 500;
      font-size: 20px;
  }
  

  /* Form  */

  #searchForm {
    display: flex;
    justify-content: space-around;
    background-color: #CAD2C5;
    margin-bottom: 20px;
  }

  #stateInputText {
    padding: 15px;
    border-top: 1px dashed #CAD2C5;
    border-bottom: 1px dashed #CAD2C5;
    border-left:none;
    border-right: none;
  }
  
  .formBoxes {
    width: 100%;
  }
  

  label {
      padding: 20px;
  }

  /* API Placeholder Boxes */

  #cityStateList {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
  }

  #apiCityBox {
    padding-right: 5px;
  }

  #apiContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #cad2c567;
      padding: 15px;
  }

  #weatherBtn {
    padding: 15px;
  }

  #apiWeatherInfoContainer {
    display:flex;
    margin-top: 20px;
    justify-content: space-evenly;
  }

  .apiWeatherBoxes {
    width: 100%;
    padding: 40px;
    margin: 5px;
    border: 1px dashed #CAD2C5;
    width: 100%;
    text-align: center;
  }